<mat-dialog-content>
  <mat-card class="example-card" *ngFor="let filme of filmes">
    <mat-card-header>
      <mat-card-title>{{ filme.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ filme.poster }}" alt="{{ filme.title }}">
    <mat-card-content>
      <table class="table table-light table-sm">
        <tbody>
          <tr>
            <td><strong>Direção:</strong></td><td>{{ filme.producer }}</td>
          </tr>
          <tr>
            <td><strong>Episódio:</strong></td><td>{{ filme.episode_id }}</td>
          </tr>
          <tr>
            <td><strong>Lançamento:</strong></td><td>{{ filme.release_date | date:'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>